{% extends 'base.html' %}
{% load static %}

{% block title %}СТ "Ветеран" - Вхід{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/authforms.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" class="measurement-form">
        {% csrf_token %}
        <table class="form-table">
            <thead>
                <tr>
                    <th colspan="2" class="header">Вхід</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label for="{{ form.username.id_for_label }}">Логін</label></td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td><label for="{{ form.password.id_for_label }}">Пароль</label></td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td></td><td><button type="submit">Увійти</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
