/* forms.css */

.measurement-form {
    max-width: 300px;
    margin: 50px auto; /* Center the form horizontally and add space before the form */
}

.form-table {
    width: 100%;
    border-collapse: collapse;
    margin: auto; /* Center the table horizontally */
}

.form-table td,
.form-table th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.form-table th {
    text-align: center; /* Center the header text */
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}

.form-table input[type="text"],
.form-table input[type="email"],
.form-table input[type="number"],
.form-table select,
.form-table textarea,
.form-table input[type="password"] {
    width: 100%; /* Adjust width to fit content */
    padding: 8px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace; /* Apply Roboto Mono font */
    height: 36px; /* Set the height to match other form elements */
}

.form-table td.label-cell {
    vertical-align: top; /* Align labels vertically to the top */
}

.form-table button[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: Trebuchet MS, sans-serif;
    font-size: 14px;
    height: 36px;
    width: 200px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    margin-top: 10px;
}

.form-table button[type="submit"]:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.form-table button[type="submit"]:focus {
    border-color: #4285f4;
    outline: none;
}

/* Styles for form error messages */
form .errorlist {
    color: red !important;
    margin: 10px 0;
}

form .errorlist ul {
    padding-left: 20px; /* Adjust as needed */
    margin: 0;
}

form .errorlist li {
    list-style-type: disc; /* Change to your preferred bullet style */
    margin: 0;
}


.center-align {
    text-align: right; /* Center-align content */
}