<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Title{% endblock %}</title>
        {% load static %}

        <!-- Block for additional head elements -->
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>

    <!-- Menu -->
    <nav class="top-menu" style="text-align: center">
           <a href="">Home</a> || <a href="">Measurements</a> || Користувач: {{ user.lastname }} {{ user.firstname }} (<a href="">вийти</a>)
    </nav>

    <!-- Content block -->
    <div class="content">
        {% block content %}
        <!-- This block will be overridden in child templates -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer style="text-align: center">
        <!-- Footer content here -->
        <p>З приводу питань по сайту звертатися: dimbaida@gmail.com</p>
    </footer>

    <!-- Global JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Block for additional JavaScript -->
    {% block extra_js %}
    {% endblock %}

    </body>
</html>