<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Історія показів</title>
</head>
<body>
    <h1>Історія показів</h1>
    <table>
        <thead>
            <tr>
                <th>{{ verbose_names.date }}</th>
                <th>{{ verbose_names.value_day }}</th>
                <th>{{ verbose_names.value_night }}</th>
                <th>{{ verbose_names.person }}</th>
                <th>{{ verbose_names.plot }}</th>
            </tr>
        </thead>
        <tbody>
            {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.date|date:"d.m.Y" }}</td>
                <td>{{ measurement.value_night }}</td>
                <td>{{ measurement.value_day }}</td>
                <td>{{ measurement.person }}</td>
                <td>{{ measurement.plot }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>