{% load static %}  <!-- Load static files tag at the beginning -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- Include jQuery -->
    <script src="{% static 'js/expand_row.js' %}"></script>
</head>
<body>

<table>
    <thead>
        <tr>
            <th width="100px">{{ verbose_names.date }}</th>
            <th width="100px">{{ verbose_names.value_day }}</th>
            <th width="100px">{{ verbose_names.value_night }}</th>
        </tr>
    </thead>
    <tbody>
        {% for measurement in measurements %}
        <tr class="{% cycle 'odd' 'even' %} expandable-row">
            <td>{{ measurement.date|date:"d.m.Y" }}</td>
            <td>{{ measurement.value_day }}</td>
            <td>{{ measurement.value_night }}</td>
        </tr>
        <tr class="additional-info" style="display: none;">
            <td colspan="3"  style="text-align: left;">
                <ul>
                    <li> Показ надав: {{ measurement.user.lastname }} {{ measurement.user.firstname }}
                    <li> Дата і час: {{ measurement.date|date:"d.m.Y H:i" }}
                </ul>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No measurements found for this plot</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <button onclick="location.href = '{% url 'electricity:measurements_add' %}'" class="button" role="button">Внести свіжі покази</button>
            </td>
        </tr>
    </tbody>
</table>


</body>
</html>
