{% extends 'base.html' %}
{% load static %}

{% block title %}Measurements - Your Site Name{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th width="100px">{{ verbose_names.date }}</th>
            <th width="100px">{{ verbose_names.plot }}</th>
            <th width="100px">{{ verbose_names.value_day }}</th>
            <th width="100px">{{ verbose_names.value_night }}</th>
        </tr>
    </thead>
    <tbody>
        {% for measurement in measurements %}
        <tr class="{% cycle 'odd' 'even' %} expandable-row">
            <td>{{ measurement.date|date:"d.m.Y" }}</td>
            <td>{{ measurement.plot }}</td>
            <td>{{ measurement.value_day }}</td>
            <td>{{ measurement.value_night }}</td>
        </tr>
        <tr class="additional-info" style="display: none;">
            <td colspan="4"  style="text-align: left;">
                <ul>
                    <li> Показ надав: {{ measurement.user.lastname }} {{ measurement.user.firstname }}
                    <li> Дата і час: {{ measurement.date|date:"d.m.Y H:i" }}
                </ul>
            </td>
        </tr>
        {% empty %}
        <tr height="120px">
            <td colspan="4">Для вашої ділянки показів ще нема</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
                <button onclick="location.href = '{% url 'electricity:measurements_add' %}'"
                        class="button" role="button">Внести свіжі покази</button>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
    <!-- App-specific JavaScript (electricity) -->
    <script src="{% static 'js/expand_row.js' %}"></script>
{% endblock %}
