body {
    background-color: #eee;
    font-family: Trebuchet MS;
    font-size: 14px;
}
a {
    color: #000;
    text-decoration: none;
}
a:visited {
    color: #000;
}
a:hover {
    text-decoration: underline;
    color: #000;
}

footer {
     text-align: center;
     color: #bbb;
}